body {
    margin: auto;
    width: 800px;
}

img {
    width: 800px;
}

hr {
    width: 500px;
    height: 1px;
    background-color: black;
    opacity: 0.3;
}

a {
    color: blue;
}

.header {
    text-align: center;
    font-size: 55px;
    opacity: 0.3;
}

.menu {
    display: flex;
    margin: 0px 0px 10px 0px;
    background-color: #FFD700    
}

.main {
    
}

.news {
    width: 490px;
    margin: 10px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    color: blue;
    background-color: #FFD700;
    text-align: center;
}

.footer {
    text-align: center;
    margin: 10px;
    opacity: 0.2;
}

#sometype-mono-font {
    font-family: "Sometype Mono", sans-serif;
}

#prompt-font {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#prompt-font-bold {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#buttun {
    text-align: center; 
    width: 100px;
}
