body {
    background-color: black;
    font-family: monospace;
    margin: 40px;
    color: lime;
    font-size: 20px;
}

h1 {
    font-size: 20px;
    text-align: center;
}

a {
    color: lime;
    text-decoration: none;
}

button {
    font-size: 25px;
    color: lime
}

foot {
    background-color: black;
    font-family: monospace;
    margin: 40px;
    color: lime;
    font-size: 20px;
}

.center {
    text-align: center;
}
